ion-content {
    agm-map {
      height: 100% !important;
      width: 100% !important;
    }
  }
  
  #container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #navi {
  }
  #navi,
  #infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #infoi {
    z-index: 10;
    pointer-events: none !important;
    top: 90% !important;
    inset-inline-start: 2%;
    background: white;
    height: 55px;
    width: 60px;
    text-align: center;
    display: flex;
    //  padding-inline-start: 9px;
    padding: 5px;
    font-weight: 500;
  }
  
  #infoi span {
    align-self: center;
    color: #8b3cce;
  }