<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button
        defaultHref="tabs/home"
        icon="chevron-back"
        mode="md"
        class="btn-back"
      ></ion-back-button>
    </ion-buttons>
    <ion-title header-title [lang]="lang"
      >{{'Location' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="navi">
      <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
      >

        <agm-marker
          [latitude]="origin.lat"
          [longitude]="origin.lng"
          label="User Location"
        ></agm-marker>
        <agm-marker
          [latitude]="destination.lat"
          [longitude]="destination.lng"
          label="Driver Location"
        ></agm-marker>
      </agm-map>
    </div>
    <div id="infoi">
      <span *ngIf="distanceInKM < 1">{{ distanceInKM * 1000}} Meters</span>
      <span *ngIf="distanceInKM > 1">{{ distanceInKM}} KM</span>
    </div>
  </div>

</ion-content>