<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>662245175296-8umum56vcqd2aqk1ncg9qbfckofuf6ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662245175296-8umum56vcqd2aqk1ncg9qbfckofuf6ll</string>
	<key>API_KEY</key>
	<string>AIzaSyCW2BLdfI1TMutKlUw-vkcV_ne4pdbDlWU</string>
	<key>GCM_SENDER_ID</key>
	<string>662245175296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.era.autoNeda</string>
	<key>PROJECT_ID</key>
	<string>autoneda-224416</string>
	<key>STORAGE_BUCKET</key>
	<string>autoneda-224416.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662245175296:ios:05a49f91e9517a85</string>
	<key>DATABASE_URL</key>
	<string>https://autoneda-224416.firebaseio.com</string>
</dict>
</plist>