<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983437943168-rm2kkqvmkalm0oneof6lih60rehsel4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983437943168-rm2kkqvmkalm0oneof6lih60rehsel4q</string>
	<key>API_KEY</key>
	<string>AIzaSyBn2YVj_0x1Edc43wWKGp1GBaPVG3bpeOc</string>
	<key>GCM_SENDER_ID</key>
	<string>983437943168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.era.autoNeda</string>
	<key>PROJECT_ID</key>
	<string>auto-neda</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-neda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983437943168:ios:722eaf806fd5c5b9296165</string>
</dict>
</plist>