<ion-tabs [lang]="lang">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="help">
      <ion-icon src="assets/icon/help-tab.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon src="assets/icon/settings-tab.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/icon/profile-tab.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home-tab.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
