ion-tab-bar {
  padding-bottom: env(safe-area-inset-bottom) !important;
  --padding-bottom: env(safe-area-inset-bottom) !important;
  --background: #FFFFFF !important;
  min-height: 60px !important;
}

ion-tab-button {
  background: transparent !important;
  --background: transparent !important;
  padding-top: 5px;
}

ion-label {
  color: #fff !important;
  --color: #fff !important;
}

// ion-tab-button{
//   --background-focused: #a0a;
//   --color-selected: #a0a;
//   --padding-end: 0px;
//   --padding-start: 10px;
//   --padding-bottom: 0px;
//   --margin-left:0px;
//   --margin-right:0px;
//   max-width:100px;
//   ion-icon{
//     --background-focused: #a0a;
//     --color-selected: #a0a;
//   }}

// :host ::ng-deep ion-tabs,ion-tab-bar{
//   max-width: 100% !important;
// }

// :host ::ng-deep ion-tab-button{
//   width: 20% !important;
// }
