.success-msg {
  color: #000000;
  font-weight: 900;
  font-size: 18px;
  white-space: nowrap !important;
  width: 25;
  margin: auto;
}

.error-msg {
  font-weight: 900;
  font-size: 18px;
  white-space: nowrap !important;
  width: 25;
  margin: auto;
  color: #dd0607;
}
