<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button
        defaultHref="tabs/home"
        icon="chevron-back"
        mode="md"
        class="btn-back"
      ></ion-back-button>
    </ion-buttons>
    <ion-title header-title [lang]="lang"
      >{{'qrcode' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row style="margin-top: 20%" class="ion-padding">
      <div style="flex: 10; text-align: center">
        <ngx-qrcode
          [value]="value"
          
        >
        </ngx-qrcode>
      </div>
    </ion-row>
    <br>
    <ion-row class="ion-padding">
      <div style="flex: 10; text-align: center">
        <button mat-raised-button class="btn-general" (click)="goToHome()">
          <span>{{'close' | translate}}</span>

        </button>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
