<ion-header dir="rtl">
  <ion-row class="ion-padding">
    <ion-col size="3">
      <img src="assets/image/avatar-home-img.svg" width="40px" />
    </ion-col>
    <ion-col class="page-title" size="4">
      <span> {{'home' | translate}} </span>
    </ion-col>
    <ion-col size="2" style="text-align: end" (click)="test()">
      <!-- <ion-icon
        style="font-size: 28px"
        src="assets/image/filter.png"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      ></ion-icon> -->
      <img src="assets/image/filter.png" width="28px"  />
    </ion-col>
    <ion-col size="2" style="text-align: center">
      <ion-icon
        style="font-size: 28px"
        src="assets/icon/sort-icon.svg"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      ></ion-icon>
    </ion-col>
    <ion-col size="1" style="text-align: end">
      <ion-icon
        style="font-size: 28px"
        routerLink="/tabs/settings"
        src="assets/icon/settings-top.svg"
      ></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [lang]="lang" dir="rtl">
  <!-- <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6"
      ><button (click)="test()" mat-raised-button class="filter-btn">
        تصنيف النتائج
      </button></ion-col
    >
    <ion-col size="3"></ion-col>
  </ion-row> -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>

  <ion-row
    style="margin-top: -15px"
    class="ion-padding-horizontal"
    *ngIf="students && students.length"
  >
    <ion-col
      size="12"
      style="height: 80px !important"
      *ngFor="let student of students; let index = index"
    >
      <ion-card>
        <ion-card-content (click)="tapevent(student)">
          <ion-row>
            <ion-col size="2">
              <div
                class="index-container table"
                [ngStyle]="{'background-color': getColorName(student) }"
              >
                <span class="tabel-cell">{{index + 1}}</span>
              </div>
            </ion-col>
            <ion-col size="6" [ngStyle]="{'color': getColorName(student) }">
              <p class="student-name">{{student.name}}</p>
              <p class="class-name">{{student.classno}}</p>
            </ion-col>
            <ion-col size="4" style="text-align: end">
              <div
                class="image-container"
                [ngStyle]="{'background-image': getBackgroundImage(student)}"
              >
                <span class="text-inside"
                  >{{student.leftschool ? student.leftschool : student.lefttime
                  ? student.lefttime : student.time}}</span
                >
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-col *ngIf="(!selectedClasses || !selectedClasses.length) && !isLoading">
    <ion-row class="ion-padding-horizontal">
      <div style="flex: 10; text-align: center">
        <h2
          style="
            font-weight: bold;
            font-size: 25px;
            margin-top: 50%;
            color: #4e1471;
          "
        >
          {{'School code & classes not defined yetplease go to setup screen' |
          translate}}
        </h2>
      </div>
    </ion-row>
  </ion-col>
  <ion-col
    *ngIf="(selectedClasses && selectedClasses.length) && !isLoading && !students.length"
  >
    <ion-row class="ion-padding-horizontal">
      <div style="flex: 10; text-align: center">
        <h2
          style="
            font-weight: bold;
            font-size: 25px;
            margin-top: 50%;
            color: #4e1471;
          "
        >
          {{'Sorry there is no results' | translate}}
        </h2>
      </div>
    </ion-row>
  </ion-col>
</ion-content>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="sort(1)">
    <span>{{'sort by alphabetical' | translate}}</span>
  </button>
  <button mat-menu-item (click)="sort(2)">
    <span>{{'sort by time' | translate}}</span>
  </button>
</mat-menu>

<ion-list style="display: none" >
  <ion-item>
    <ion-select
      [lang]="lang"
      #filterOptionsSelect
      name="txtFilterOptions"
      [(ngModel)]="filterOptions"
      [multiple]="true"
      (ionCancel)="onCancel()"
      (ionChange)="onChange()"
    >
      <ion-select-option value="green"
        >{{'Green' | translate}}</ion-select-option
      >
      <ion-select-option value="red">{{'Red' | translate}}</ion-select-option>
      <ion-select-option value="black"
        >{{'Black' | translate}}</ion-select-option
      >

      <ion-select-option value="gray">{{'Gray' | translate}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<!-- ;
padding-bottom: 20px; -->
