[header-title] {
  text-align: end !important;
  padding: 0 10px 1px !important;
}

ion-toolbar {
  padding-left: 10px;
}

.avatar-img {
  margin: auto;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  max-width: 55px;
  max-height: 55px;
  margin-top: 2px;
}

.mobile-number {
  margin-top: -10px;
  color: #ffffff;
  opacity: 0.7;
  font-size: 12px;
}

.client-name {
  margin-top: 5px;
  color: #ffffff;
  font-size: 14px;
}

.unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}

.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;

  max-width: calc(100% - 60px);

  overflow: hidden;

  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.9rem;
}

.setting-icon {
  --color: #ffff !important;
  --ion-color-base: #fff !important;
  font-size: 26px !important;
}

.notifications-badge {
  margin-left: -14px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  /* text-align: center; */
  padding-top: 16%;
  margin-top: -10px;
}

ion-list {
  border-radius: 15px !important;
}

ion-spinner {
  position: relative;
  right: 45%;
  top: 45%;
  z-index: 1000;
  width: 60px;
  height: 60px;
}

.left-time {
  .unread-indicator {
    background: black !important;
  }
  ion-icon {
    --color: #000 !important;
    --ion-color-base: #000 !important;
  }
  ion-note {
    color: #000 !important;
  }
  color: #000 !important;
}
.range {
  .unread-indicator {
    background: red !important;
  }
  ion-icon {
    --color: red !important;
    --ion-color-base: red !important;
  }
  ion-note {
    color: red !important;
  }
  color: red !important;
}
.call {
  .unread-indicator {
    background: green !important;
  }
  ion-icon {
    --color: green !important;
    --ion-color-base: green !important;
  }
  ion-note {
    color: green !important;
  }
  color: green !important;
}

ion-card {
  max-height: 70px !important;
  border-radius: 10px;
  box-shadow: 5px 5px #a5adba26;
}

.index-container {
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  color: white !important;
  font-size: 15px;
}
.table {
  display: table;
}
.tabel-cell {
  vertical-align: middle;
  display: table-cell;
}

.student-name {
  height: 12px;
  font-weight: bold;
  font-size: 15px;
}

.class-name {
  font-size: 13px;
  font-weight: 500;
}

.image-container {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  text-align: end;
  // background-image: url("../../../assets/image/red-time.png");
  background-size: cover;
  display: table;
  margin-right: 2rem;

}

.text-inside {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  vertical-align: middle;
  display: table-cell;
  margin-top: 13px;
  padding-top: 18px;
}
