:host ::ng-deep button {
  width: 95%;
  margin: auto;
}

ion-content {
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/image/background-img.png);
  background-size: cover;
  --background: #f3f3f3 url(../../../assets/image/background-img.png) no-repeat
    center center / cover;
}

.happy-serve {
  color: #9640ac;
  font-weight: bolder;
  font-size: 18px;
  text-transform: capitalize;
}

:host ::ng-deep .native-input[disabled] {
  opacity: unset !important;
}

// :lang(ar) {
//   .alert-wrapper {
//     direction: rtl !important;
//   }
// }
// :host ::ng-deep .alert-wrapper {
//   direction: rtl !important;
// }
// :lang(en) {
//   .alert-wrapper {
//     direction: ltr !important;
//   }
// }

.toast-container {
  background: yellow;
}

.toast-md .toast-message {
  color: red;
}

.inp-general {
  padding: 5px !important;
  padding-left: 10px !important;
  border-radius: 10px;
  color: #6D7177 !important;
}
